.Header {
  text-align: center;
}

.Title {
  background-color: black;
  color: white;
}

.details {
  border: 1px solid black;
}
.details ul {
  text-decoration: none;
  list-style: none;
}
.details li {
  border: 0.5px solid gray;
}